<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" >
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h2><i class="glyphicon glyphicon-user"></i> Información detallada</h2>
        <!-- <h3 class="modal-title">Información detallada</h3> -->
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-md-4">
            <img ng-src="fotos/{{mostrar.titular.fotografia}}"  width="260px" ng-if="mostrar.titular.fotografia"/>
            <img src="fotos/perfil.png"  width="180px" ng-if="!mostrar.titular.fotografia"/>
          </div>
          <div class="col-md-8">
            <h3><b>{{mostrar.titular.nombre}}</h3></b>
				    <h4><b>{{mostrar.titular.cargo}}</h4></b>
            <br>
            <h4><b>Área</h4></b>
            <p>
              {{mostrar.area}}
            </p>
            <div ng-if="mostrar.titular.contrato">
            <h4><b>Tipo de Contrato</h4></b>
              <p>
                {{mostrar.titular.contrato}}
              </p>
            </div>
            <div ng-if="mostrar.titular.escolaridad">
              <h4><b>Escolaridad</h4></b>
              <p>
                {{mostrar.titular.escolaridad}}
              </p>
            </div>
            <div ng-if="mostrar.titular.antiguedad">
              <h4><b>Antig&uuml;edad</h4></b>
              <p>
                {{mostrar.titular.antiguedad}}
              </p>
            </div>
			         <div ng-if="mostrar.titular.jefe">
              <h4><b>Jefe Inmediato</h4></b>
              <p>
                {{mostrar.titular.jefe}}
              </p>
            </div>
            <div ng-if="mostrar.titular.correo">
           <h4><b>Correo Electr&oacute;nico</h4></b>
           <p>
             {{mostrar.titular.correo}}
           </p>
         </div>
            <div ng-if="mostrar.titular.actividades">
              <h4><b>Actividades</h4></b>
              <p class="TextoInicio">
                {{mostrar.titular.actividades}}
              </p>
            </div>

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="pull-left" ng-if="mostrar.nivel">
          <a class="btn btn-primary" href="#/subdireccion/{{mostrar.id}}" ng-click="$hide()">Personal <span ng-if="mostrar.nivel==1">de la subdirección</span> <span ng-if="mostrar.nivel==2">del departamento</span></a>
        </div>
        <button type="button" class="btn btn-secondary" ng-click="$hide()">Cerrar</button>
      </div>
    </div>
  </div>
</div>
