<table class="table">
  <tbody>
    <tr>
      <td>
        {{ivea.area}}
      </td>
      <td>
        {{ivea.titular.nombre}}
      </td>
      <td>
        {{ivea.titular.cargo}}
      </td>
      <td>
        {{ivea.titular.actividades}}
      </td>
      <td>
        {{ivea.titular.correo}}
      </td>
      <td>
        {{ivea.titular.antiguedad}}
      </td>
      <td>
        {{ivea.titular.contrato}}
      </td>
      <td>
        {{ivea.titular.jefe}}
      </td>
      <td>
        {{ivea.titular.escolaridad}}
      </td>
      <td>
        {{ivea.titular.fotografia}}
      </td>
      <td>
        {{ivea.id}}
      </td>
      <td>
        1
      </td>
    </tr>
  </tbody>
  <tbody>
    <tr ng-repeat="p in ivea.personal">
      <td >
        {{ivea.area}}
      </td>
      <td>
        {{p.nombre}}
      </td>
      <td>
        {{p.cargo}}
      </td>
      <td>
        {{p.actividades}}
      </td>
      <td>
        {{p.correo}}
      </td>
      <td>
        {{p.antiguedad}}
      </td>
      <td>
        {{p.contrato}}
      </td>
      <td>
        {{p.jefe}}
      </td>
      <td>
        {{p.escolaridad}}
      </td>
      <td>
        {{p.fotografia}}
      </td>
      <td>
        {{ivea.id}}
      </td>
    </tr>
  </tbody>
</table>

<table ng-repeat="sub in ivea.subdirecciones" class="table">
    <thead>
      <tr>
        <td>
          {{sub.area}}
        </td>
        <td>
          {{sub.titular.nombre}}
        </td>
        <td>
          {{sub.titular.cargo}}
        </td>
        <td>
          {{sub.titular.actividades}}
        </td>
        <td>
          {{sub.titular.correo}}
        </td>
        <td>
          {{sub.titular.antiguedad}}
        </td>
        <td>
          {{sub.titular.contrato}}
        </td>
        <td>
          {{sub.titular.jefe}}
        </td>
        <td>
          {{sub.titular.escolaridad}}
        </td>
        <td>
          {{sub.titular.fotografia}}
        </td>
        <td>
          {{sub.id}}
        </td>
        <td>
          1
        </td>
      </tr>
    </thead>
    <tbody ng-repeat="dep in sub.departamentos">
      <tr>
        <td ng-init="clave=sub.id+$index">
          {{dep.area}}
        </td>
        <td>
          {{dep.titular.nombre}}
        </td>
        <td>
          {{dep.titular.cargo}}
        </td>
        <td>
          {{dep.titular.actividades}}
        </td>
        <td>
          {{dep.titular.correo}}
        </td>
        <td>
          {{dep.titular.antiguedad}}
        </td>
        <td>
          {{dep.titular.contrato}}
        </td>
        <td>
          {{dep.titular.jefe}}
        </td>
        <td>
          {{dep.titular.escolaridad}}
        </td>
        <td>
          {{dep.titular.fotografia}}
        </td>
        <td>
          {{clave}}
        </td>
        <td>
          1
        </td>
      </tr>
      <tr ng-repeat="p in dep.personal">
        <td >
          {{dep.area}}
        </td>
        <td>
          {{p.nombre}}
        </td>
        <td>
          {{p.cargo}}
        </td>
        <td>
          {{p.actividades}}
        </td>
        <td>
          {{p.correo}}
        </td>
        <td>
          {{p.antiguedad}}
        </td>
        <td>
          {{p.contrato}}
        </td>
        <td>
          {{p.jefe}}
        </td>
        <td>
          {{p.escolaridad}}
        </td>
        <td>
          {{p.fotografia}}
        </td>
        <td>
          {{clave}}
        </td>
      </tr>
    </tbody>
    <tbody>
      <tr ng-repeat="p in sub.personal">
        <td >
          {{sub.area}}
        </td>
        <td>
          {{p.nombre}}
        </td>
        <td>
          {{p.cargo}}
        </td>
        <td>
          {{p.actividades}}
        </td>
        <td>
          {{p.correo}}
        </td>
        <td>
          {{p.antiguedad}}
        </td>
        <td>
          {{p.contrato}}
        </td>
        <td>
          {{p.jefe}}
        </td>
        <td>
          {{p.escolaridad}}
        </td>
        <td>
          {{p.fotografia}}
        </td>
        <td>
          {{sub.id}}
        </td>
      </tr>
    </tbody>
</table>




_____
